<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricity</title>
</head>
<body>
    <h1>Electic Meters</h1>
    <form action="/electric" method="post">
        <input autocomplete="off" autofocus name="meter1" placeholder="Meter 1 - units" type="number"><br><br>
        <input autocomplete="off" autofocus name="meter2" placeholder="Meter 2 - units" type="number"><br><br>
        <input autocomplete="off" autofocus name="meter3" placeholder="Meter 3 - units" type="number"><br><br>
        <input autocomplete="off" autofocus name="meter4" placeholder="Meter 4 - units" type="number"><br><br>
        <input autocomplete="off" autofocus name="refrence" placeholder="Refrence - units" type="number">
        <input autocomplete="off" autofocus name="refrence-bill" placeholder="Refrence - Bill" type="number"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>