<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub-Meters</title>
</head>
<body>
    <h1>Sub-Meters</h1>
    <form action="/sub-meters" method="post">
        <input autocomplete="off" autofocus name="submeter1" placeholder="Sub-Meter 1" type="number"><br><br>
        <input autocomplete="off" autofocus name="submeter2" placeholder="Sub-Meter 2" type="number"><br><br>
        <input autocomplete="off" autofocus name="submeter3" placeholder="Sub-Meter 3" type="number"><br><br>
        <input autocomplete="off" autofocus name="submeter4" placeholder="Sub-Meter 4" type="number"><br><br>
        <input autocomplete="off" autofocus name="submeter5" placeholder="Sub-Meter 5" type="number"><br><br>
        <input autocomplete="off" autofocus name="submotor" placeholder="Sub-Meter (Water Motor)" type="number"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>