<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="color: red; text-align: center;">Uni-Print</h1><br><br><br>
    <form method="post" action="/">
        <p style="text-align: center;">Get your prints instantly, remove the hassale to line up in a<br> 
           long que and be productive. Join now to get get Started today.</p><br>
        <div style="text-align: center;">
            <button name="start-now">Start Now</button>
        </div>
    </form>
</body>
</html>